.hifz-empty-title {
    font-style: normal;
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 36px;
    color: #535624;
    margin-bottom: 5px;
}

.hifz-empty-para {
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 22px;
    color: #535624;
    max-width: 470px;
    margin: 0;
}