/* ================================
   Tabs
================================ */

.attendance-tabs {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 16px;
}   

.attendance-tab {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #827979;
    padding: 10px 15px;
    background-color: #EFECE0;
    border-radius: 13px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.attendance-tab.active, 
.attendance-tab:hover {
    background-color: #535624;
    color: #FFF;
}