.hifz-student-states-wrapper {
    margin-bottom: 12px;
}

.hifz-student-states {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 100%;
    margin-bottom: 12px;
}

.hifz-student-state {
    padding: 16px;
    min-height: 98px;
    border: 1px solid #C4C8BE;
    background-color: #FFFDF6;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hifz-student-state-value {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: #535624;
    margin-bottom: 0;
}

.hifz-student-state-label {
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 20px;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    color: #444841;
}

/* =========================
   Student Progress
========================= */

.hifz-student-progress {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
}

.hifz-student-progress-item {
    background-color: #FFFDF6;
    border: 1px solid #C4C8BE;
    border-radius: 12px;
    padding: 12px 24px;
}

/* Progress Header */

.hifz-student-progress-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}

.hifz-student-progress-label {
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #444841;
}

.hifz-student-progress-value {
    font-style: normal;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 20px;
    color: #535624;
}

/* Progress Track */

.hifz-student-progress-track {
    width: 100%;
    height: 8px;
    background-color: #E6E9E2;
    border-radius: 10px;
    overflow: hidden;
}

/* Progress Fill */

.hifz-student-progress-bar {
    height: 100%;
    background-color: #535624;
    border-radius: 10px;
    transition: width 0.3s ease;
}