@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "AlQalam Nabeel";
  src: url("../src/assets/fonts/AlQalam-Nabeel/AlQalam-Nabeel-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: "Gallery";
    src: url("../src/assets/fonts/gallery-font/Gallery.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.urdu-text {
  font-family: "AlQalam Nabeel", sans-serif;
}

:root {
  --font-manrope: "Manrope", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-amiri: "Amiri", sans-serif;
  --primary-text-color: #535624;
}

html {
  font-size: 10px;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  font-family: var(--font-manrope);
}

.dashboard-layout {
    min-height: 100vh;
    display: flex;
    padding: 28px 0 28px 18px;
    background-color: #FFFDF6;
}

.dashboard-main {
    flex: 1;
    min-width: 0;
    height: calc(100vh - 56px);
    overflow: auto;
}

.dashboard-content {
    padding: 24px 12px 24px 12px;
}

.primary-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 100%;
    height: 56px;
    background: linear-gradient(
        104.94deg,
        #3F421A 0%,
        #535624 60%
    );
    border: none;
    border-radius: 100px;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.14px;
    color: #FFFFFF;
    cursor: pointer;
    box-shadow: 0px 10px 15px -3px rgba(0, 109, 48, 0.1), 0px 4px 6px -4px rgba(0, 109, 48, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease, filter 0.2s ease;
}

.primary-btn:hover {
    color: #41441B;
    background: linear-gradient(104.94deg, #E7E5CB 0%, #F5F3EA 60%), #F1FAF5;
    box-shadow: 0 8px 20px rgba(63, 66, 26, 0.3);
    transform: translateY(-1px);
}

.primary-btn:hover svg {
    stroke: #41441B;
}

.secondary-btn {
  height: 35px;
  background: linear-gradient(104.94deg, #E7E5CB 0%, #F5F3EA 60%), #F1FAF5;
  border: 1px solid #E1EFE7;
  border-radius: 11px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 15px;
  color: #41441B;
  transition: all 0.3s ease;
}

.secondary-btn:hover {
    color: white;
    box-shadow: 0 8px 20px rgba(63, 66, 26, 0.3);
    transform: translateY(-1px);
        background: linear-gradient(
        104.94deg,
        #3F421A 0%,
        #535624 60%
    );
}

.secondary-btn:hover svg {
  stroke: white;
}

.view-details-btn {
  font-style: normal;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: #828684;
  text-decoration: none;
}

.add-btn {
  height: 33px;
  width: 33px;
  background: #FFFDF6;
  border: 1.0336px solid #E5EEE8;
  border-radius: 12.4032px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.welcome-banner-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  padding: 11px 17px;
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 15px;
  color: #0E5A3D;
  background-color: #FFFDF6;
  border: 1px solid #E1EFE7;
  border-radius: 12px;
  transition: 0.4s;
  text-decoration: none;
}

.welcome-banner-btn:hover {
  color: #40431A;
  background: linear-gradient(104.94deg, #E7E5CB 0%, #F5F3EA 60%);
  box-shadow: 0px 4px 10px rgba(245, 243, 234, 0.28);
}

.welcome-banner-btn:hover svg {
  stroke: #40431A;
}

.home-title {
  font-style: normal;
  font-weight: 400;
  font-size: 5rem;
  line-height: 68px;
  text-align: center;
  color: var(--primary-text-color);
  opacity: 0.85;
}

.banner-title {
  font-family: var(--font-amiri);
  font-style: normal;
  font-weight: 700;
  font-size: 3.4rem;
  line-height: 60px;
  color: #F7F5EC;
  margin: 16px 0 6px;
}

.error-text {
  color: red;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 20px;
  letter-spacing: 0.14px;
  margin-top: 5px;
  display: inline-block;
}

.sm-title {
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #0F1C17;
  margin-bottom: 0;
}

.sm-para {
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 16px;
  color: #96A39D;
}

.section-title {
  font-family: var(--font-amiri);
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 70px;
  color: #0B4230;
}

.user-avatar {
  height: 40px;
  width: 40px;
  background: #6D5BD0;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: normal;
  color: #FFFDF6;
  border: none;
  outline: none;
}

.sidebar-user-info {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.sidebar-user-name {
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 16px;
  color: #0F3327;
}

.sidebar-user-role {
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 13px;
  color: #828684;
}

.welcome-banner-text {
  font-family: var(--font-inter);
  font-style: normal;
  font-weight: 600;
  font-size: 1.35rem;
  line-height: 16px;
  color: #F7F5EC;
}

.copy-right-text {
  font-style: normal;
  font-weight: 400;
  font-size: 1.45rem;
  line-height: 20px;
  color: #4c6b5f;
}

/* =========================================================
  Dashboard Page css
========================================================= */

.dashboard-box {
  background: #FFFDF6;
  border: 1px solid #E5EEE8;
  box-shadow: 0px 1.0336px 2.0672px rgba(15, 28, 23, 0.04);
  border-radius: 23px;
  padding: 25px 22px;
  margin-bottom: 25px;
}

.student-attendance-overview.dashboard-box {
  min-height: 465px;
}

.announcement.dashboard-box, 
.teachers-online.dashboard-box, 
.quran-progress-overview.dashboard-box {
  min-height: 250px;
}

.dash-box-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.dash-box-title {
  font-style: normal;
  font-weight: 800;
  font-size: 1.6rem;
  line-height: 22px;
  color: #0F1C17;
  margin-bottom: 0;
}
