@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "AlQalam Nabeel";
  src: url("../src/assets/fonts/AlQalam-Nabeel/AlQalam-Nabeel-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: "Gallery";
    src: url("../src/assets/fonts/gallery-font/Gallery.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.urdu-text {
  font-family: "AlQalam Nabeel", sans-serif;
}

:root {
  --font-manrope: "Manrope", sans-serif;
  --primary-text-color: #535624;
}

html {
  font-size: 10px;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  font-family: var(--font-manrope);
}

.home-title {
  font-style: normal;
  font-weight: 400;
  font-size: 5rem;
  line-height: 68px;
  text-align: center;
  color: var(--primary-text-color);
  opacity: 0.85;
}

/* auth screen css start */

.auth-section {
  background-color: #f7f5ec;
  background-image: url("./assets/images/auth-bg-img.png");
  background-repeat: no-repeat;
  background-size: 100% 80%;
  background-position: center bottom;
  min-height: 100vh;
  padding: 20px 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.auth-top-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 52vh;
}

.auth-top-img.top-img-2 {
  right: 0;
  left: unset;
}

.auth-main-top {
  margin-bottom: 50px;
}

.copy-right-text {
  font-style: normal;
  font-weight: 400;
  font-size: 1.45rem;
  line-height: 20px;
  color: #4c6b5f;
}

.auth-main-bottom .copy-right-text {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
}

/* auth screen css end */
